<html>
  <head></head>
  <body style="background-color:silver">
    <a href="https://github.com/Dpalazzari/web_guesser">
      <img src="http://www.funbrain.com/guess/magic.gif" />
    </a>
    <p style="font-size: 8px"><strong>Click picture for code source.</strong></p>
    <p style="font-size:26px">Try to guess the <strong>Secret</strong> Number!</p>
    <p><strong>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</strong></p>
    <p>Secret Number range is between <strong><u><em>0 and 100</em></u></strong></p>
    <p><strong>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</strong></p>
    <p>Your guess was <strong><%= guess %></strong>.
      You have made <strong><%= guess_counter %></strong> guess(es).</p>
    <p style="color: firebrick"><%= output %></p>
  </body>
  <form>
    <input type='text' name='guess' />
    <input type='submit' value='Guess!' />
  </form>
</html>
